<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h3>Contacts</h3>
    </div>
  </div>

  <div class="panel-body">
    <a
      href="#"
      class="btn btn-success pull-right btn-sm"
      style="position: absolute; right: 30px; top: 30px"
      [routerLink]="['new']"
    >
      New Contact
    </a>
    <div class="row">
      <div class="col-xs-12">
        <div
          *ngFor="let contactEl of contacts"
          cdkDrag
          [cdkDragData]="contactEl"
          [cdkDragDisabled]="false"
          [routerLink]="[contactEl.id]"
          class="mb-2 d-block"
        >
          <cms-contact-item [contact]="contactEl"></cms-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>